# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [223]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [224]:
# Calculate the total number of unique schools
school_count = school_data_complete["School ID"].nunique()
school_count

15

In [225]:
# Calculate the total number of students
student_count = len(school_data_complete["Student ID"].unique())
student_count

39170

In [226]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [227]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [228]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [229]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [230]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/ float(student_count)*100
passing_reading_percentage

85.80546336482001

In [231]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [232]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    'Total Schools': [school_count],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    'Math Passing Rate': [passing_math_percentage],
    'Reading Passing Rate': [passing_reading_percentage],
    'Overall Passing Rate': [overall_passing_rate] }) 
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [233]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [234]:
# Calculate the total student count
per_school_counts = school_data_complete['school_name'].value_counts()

per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [235]:
grouped_df= school_data_complete.groupby(["school_name"])

In [236]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [237]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

print(per_school_math)
print("----------------------")
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
----------------------
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [238]:
# Calculate the number of schools with math scores of 70 or higher

#first, filter by math scores >=70
passing_math_df = school_data_complete[school_data_complete['math_score'] >= 70]


school_passing_math = passing_math_df['school_name'].nunique()
print(school_passing_math)

15

In [239]:
# Calculate the number of schools with reading scores of 70 or higher

passing_reading_df = school_data_complete[school_data_complete['reading_score'] >= 70]

school_passing_reading = passing_reading_df['school_name'].nunique()

print(school_passing_reading)

15

In [240]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

passedboth= passing_math_and_reading['school_name'].nunique()
print(passedboth)

15

In [241]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math/ per_school_counts * 100
per_school_passing_reading = school_passing_reading/ per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [242]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "Total Students": per_school_counts,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "Per School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "School Type": school_types})


# Display the DataFrame
per_school_summary.head(20)

,Total Students,% Passing Math,% Passing Reading,% Overall Passing,Average Math Score,Average Reading Score,Per School Budget,Per Student Budget,School Type
Bailey High School,4976,0.301447,0.301447,54.642283,78.985371,81.87784,3124928.0,628.0,District
Cabrera High School,1858,0.807320,0.807320,91.334769,78.985371,81.87784,1081356.0,582.0,Charter
Figueroa High School,2949,0.508647,0.508647,53.204476,78.985371,81.87784,1884411.0,639.0,District
Ford High School,2739,0.547645,0.547645,54.289887,78.985371,81.87784,1763916.0,644.0,District
Griffin High School,1468,1.021798,1.021798,90.599455,78.985371,81.87784,917500.0,625.0,Charter
Hernandez High School,4635,0.323625,0.323625,53.527508,78.985371,81.87784,3022020.0,652.0,District
Holden High School,427,3.512881,3.512881,89.227166,78.985371,81.87784,248087.0,581.0,Charter
Huang High School,2917,0.514227,0.514227,53.513884,78.985371,81.87784,1910635.0,655.0,District
Johnson High School,4761,0.315060,0.315060,53.539172,78.985371,81.87784,3094650.0,650.0,District
Pena High School,962,1.559252,1.559252,90.540541,78.985371,81.87784,585858.0,609.0,Charter
Rodriguez High School,3999,0.375094,0.375094,52.988247,78.985371,81.87784,2547363.0,637.0,District
Shelton High School,1761,0.851789,0.851789,89.892107,78.985371,81.87784,1056600.0,600.0,Charter
Thomas High School,1635,0.917431,0.917431,90.948012,78.985371,81.87784,1043130.0,638.0,Charter
Wilson High School,2283,0.657030,0.657030,90.582567,78.985371,81.87784,1319574.0,578.0,Charter
Wright High School,1800,0.833333,0.833333,90.333333,78.985371,81.87784,1049400.0,583.0,Charter

## Highest-Performing Schools (by % Overall Passing)

In [243]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,Total Students,% Passing Math,% Passing Reading,% Overall Passing,Average Math Score,Average Reading Score,Per School Budget,Per Student Budget,School Type
Cabrera High School,1858,0.807320,0.807320,91.334769,78.985371,81.87784,1081356.0,582.0,Charter
Thomas High School,1635,0.917431,0.917431,90.948012,78.985371,81.87784,1043130.0,638.0,Charter
Griffin High School,1468,1.021798,1.021798,90.599455,78.985371,81.87784,917500.0,625.0,Charter
Wilson High School,2283,0.657030,0.657030,90.582567,78.985371,81.87784,1319574.0,578.0,Charter
Pena High School,962,1.559252,1.559252,90.540541,78.985371,81.87784,585858.0,609.0,Charter

## Bottom Performing Schools (By % Overall Passing)

In [244]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True)
bottom_schools.head(5)

,Total Students,% Passing Math,% Passing Reading,% Overall Passing,Average Math Score,Average Reading Score,Per School Budget,Per Student Budget,School Type
Rodriguez High School,3999,0.375094,0.375094,52.988247,78.985371,81.87784,2547363.0,637.0,District
Figueroa High School,2949,0.508647,0.508647,53.204476,78.985371,81.87784,1884411.0,639.0,District
Huang High School,2917,0.514227,0.514227,53.513884,78.985371,81.87784,1910635.0,655.0,District
Hernandez High School,4635,0.323625,0.323625,53.527508,78.985371,81.87784,3022020.0,652.0,District
Johnson High School,4761,0.315060,0.315060,53.539172,78.985371,81.87784,3094650.0,650.0,District

## Math Scores by Grade

In [245]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby('school_name')['math_score', 'reading_score'].mean()
tenth_graders_scores = tenth_graders.groupby('school_name')['math_score', 'reading_score'].mean()
eleventh_graders_scores = eleventh_graders.groupby('school_name')['math_score', 'reading_score'].mean()
twelfth_graders_scores = twelfth_graders.groupby('school_name')['math_score', 'reading_score'].mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =  pd.DataFrame({"9th Grade Math": ninth_grade_math_scores,
                                      "10th Grade Math": tenth_grader_math_scores,
                                      "11th Grade Math": eleventh_grader_math_scores,
                                        "12th Grade Math": twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

/var/folders/nz/b1fwrqr11_b373g3j_1s9pz80000gn/T/ipykernel_38111/3215258640.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ninth_graders_scores = ninth_graders.groupby('school_name')['math_score', 'reading_score'].mean()
/var/folders/nz/b1fwrqr11_b373g3j_1s9pz80000gn/T/ipykernel_38111/3215258640.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tenth_graders_scores = tenth_graders.groupby('school_name')['math_score', 'reading_score'].mean()
/var/folders/nz/b1fwrqr11_b373g3j_1s9pz80000gn/T/ipykernel_38111/3215258640.py:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  eleventh_graders_scores = eleventh_graders.groupby('school_name')['math_score', 'reading_score'].mean()
/var/folders/nz/b1fwrqr11_b373g3j_1s9pz80000gn/T/ipykernel_38111/3215258640.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  twelfth_graders_scores = twelfth_graders.groupby('school_name')['math_score', 'reading_score'].mean()

,9th Grade Math,10th Grade Math,11th Grade Math,12th Grade Math
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

In [246]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby('school_name')['math_score', 'reading_score'].mean()
tenth_graders_scores = tenth_graders.groupby('school_name')['math_score', 'reading_score'].mean()
eleventh_graders_scores = eleventh_graders.groupby('school_name')['math_score', 'reading_score'].mean()
twelfth_graders_scores = twelfth_graders.groupby('school_name')['math_score', 'reading_score'].mean()

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores,
                                      "10th": tenth_grader_reading_scores,
                                      "11th": eleventh_grader_reading_scores,
                                        "12th": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

/var/folders/nz/b1fwrqr11_b373g3j_1s9pz80000gn/T/ipykernel_38111/1018077689.py:8: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ninth_graders_scores = ninth_graders.groupby('school_name')['math_score', 'reading_score'].mean()
/var/folders/nz/b1fwrqr11_b373g3j_1s9pz80000gn/T/ipykernel_38111/1018077689.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tenth_graders_scores = tenth_graders.groupby('school_name')['math_score', 'reading_score'].mean()
/var/folders/nz/b1fwrqr11_b373g3j_1s9pz80000gn/T/ipykernel_38111/1018077689.py:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  eleventh_graders_scores = eleventh_graders.groupby('school_name')['math_score', 'reading_score'].mean()
/var/folders/nz/b1fwrqr11_b373g3j_1s9pz80000gn/T/ipykernel_38111/1018077689.py:11: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  twelfth_graders_scores = twelfth_graders.groupby('school_name')['math_score', 'reading_score'].mean()

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [247]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [248]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [249]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"],spending_bins, labels, include_lowest=True)
school_spending_df

,Total Students,% Passing Math,% Passing Reading,% Overall Passing,Average Math Score,Average Reading Score,Per School Budget,Per Student Budget,School Type,Spending Ranges (Per Student)
Bailey High School,4976,0.301447,0.301447,54.642283,78.985371,81.87784,3124928.0,628.0,District,"(585.0, 630.0]"
Cabrera High School,1858,0.807320,0.807320,91.334769,78.985371,81.87784,1081356.0,582.0,Charter,"(-0.001, 585.0]"
Figueroa High School,2949,0.508647,0.508647,53.204476,78.985371,81.87784,1884411.0,639.0,District,"(630.0, 645.0]"
Ford High School,2739,0.547645,0.547645,54.289887,78.985371,81.87784,1763916.0,644.0,District,"(630.0, 645.0]"
Griffin High School,1468,1.021798,1.021798,90.599455,78.985371,81.87784,917500.0,625.0,Charter,"(585.0, 630.0]"
Hernandez High School,4635,0.323625,0.323625,53.527508,78.985371,81.87784,3022020.0,652.0,District,"(645.0, 680.0]"
Holden High School,427,3.512881,3.512881,89.227166,78.985371,81.87784,248087.0,581.0,Charter,"(-0.001, 585.0]"
Huang High School,2917,0.514227,0.514227,53.513884,78.985371,81.87784,1910635.0,655.0,District,"(645.0, 680.0]"
Johnson High School,4761,0.315060,0.315060,53.539172,78.985371,81.87784,3094650.0,650.0,District,"(645.0, 680.0]"
Pena High School,962,1.559252,1.559252,90.540541,78.985371,81.87784,585858.0,609.0,Charter,"(585.0, 630.0]"
Rodriguez High School,3999,0.375094,0.375094,52.988247,78.985371,81.87784,2547363.0,637.0,District,"(630.0, 645.0]"
Shelton High School,1761,0.851789,0.851789,89.892107,78.985371,81.87784,1056600.0,600.0,Charter,"(585.0, 630.0]"
Thomas High School,1635,0.917431,0.917431,90.948012,78.985371,81.87784,1043130.0,638.0,Charter,"(630.0, 645.0]"
Wilson High School,2283,0.657030,0.657030,90.582567,78.985371,81.87784,1319574.0,578.0,Charter,"(-0.001, 585.0]"
Wright High School,1800,0.833333,0.833333,90.333333,78.985371,81.87784,1049400.0,583.0,Charter,"(-0.001, 585.0]"

In [250]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [251]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Spending Math Scores": spending_math_scores,
                                 "Spending Reading Scores": spending_reading_scores,
                                 "Spending Passing Math": spending_passing_math,
                                 "Spending Passing Reading": spending_passing_reading,
                                 "Overall Passing Spending": overall_passing_spending })

# Display results
spending_summary

,Spending Math Scores,Spending Reading Scores,Spending Passing Math,Spending Passing Reading,Overall Passing Spending
Spending Ranges (Per Student),,,,,
"(-0.001, 585.0]",78.985371,81.87784,1.452641,1.452641,90.369459
"(585.0, 630.0]",78.985371,81.87784,0.933571,0.933571,81.418596
"(630.0, 645.0]",78.985371,81.87784,0.587204,0.587204,62.857656
"(645.0, 680.0]",78.985371,81.87784,0.384304,0.384304,53.526855

## Scores by School Size

In [252]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [253]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(school_spending_df["Total Students"],size_bins, labels, include_lowest=True)
per_school_summary

,Total Students,% Passing Math,% Passing Reading,% Overall Passing,Average Math Score,Average Reading Score,Per School Budget,Per Student Budget,School Type,School Size
Bailey High School,4976,0.301447,0.301447,54.642283,78.985371,81.87784,3124928.0,628.0,District,"(2000.0, 5000.0]"
Cabrera High School,1858,0.807320,0.807320,91.334769,78.985371,81.87784,1081356.0,582.0,Charter,"(1000.0, 2000.0]"
Figueroa High School,2949,0.508647,0.508647,53.204476,78.985371,81.87784,1884411.0,639.0,District,"(2000.0, 5000.0]"
Ford High School,2739,0.547645,0.547645,54.289887,78.985371,81.87784,1763916.0,644.0,District,"(2000.0, 5000.0]"
Griffin High School,1468,1.021798,1.021798,90.599455,78.985371,81.87784,917500.0,625.0,Charter,"(1000.0, 2000.0]"
Hernandez High School,4635,0.323625,0.323625,53.527508,78.985371,81.87784,3022020.0,652.0,District,"(2000.0, 5000.0]"
Holden High School,427,3.512881,3.512881,89.227166,78.985371,81.87784,248087.0,581.0,Charter,"(-0.001, 1000.0]"
Huang High School,2917,0.514227,0.514227,53.513884,78.985371,81.87784,1910635.0,655.0,District,"(2000.0, 5000.0]"
Johnson High School,4761,0.315060,0.315060,53.539172,78.985371,81.87784,3094650.0,650.0,District,"(2000.0, 5000.0]"
Pena High School,962,1.559252,1.559252,90.540541,78.985371,81.87784,585858.0,609.0,Charter,"(-0.001, 1000.0]"
Rodriguez High School,3999,0.375094,0.375094,52.988247,78.985371,81.87784,2547363.0,637.0,District,"(2000.0, 5000.0]"
Shelton High School,1761,0.851789,0.851789,89.892107,78.985371,81.87784,1056600.0,600.0,Charter,"(1000.0, 2000.0]"
Thomas High School,1635,0.917431,0.917431,90.948012,78.985371,81.87784,1043130.0,638.0,Charter,"(1000.0, 2000.0]"
Wilson High School,2283,0.657030,0.657030,90.582567,78.985371,81.87784,1319574.0,578.0,Charter,"(2000.0, 5000.0]"
Wright High School,1800,0.833333,0.833333,90.333333,78.985371,81.87784,1049400.0,583.0,Charter,"(1000.0, 2000.0]"

In [254]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [255]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Size Math Scores": size_math_scores,
    "Size Reading Scores": size_reading_scores,
    "Size Passing Math": size_passing_math,
    "Size Passing Reading": size_passing_reading, 
    "Size Overall Passing": size_overall_passing
})

# Display results
size_summary

,Size Math Scores,Size Reading Scores,Size Passing Math,Size Passing Reading,Size Overall Passing
School Size,,,,,
"(-0.001, 1000.0]",78.985371,81.87784,2.536066,2.536066,89.883853
"(1000.0, 2000.0]",78.985371,81.87784,0.886334,0.886334,90.621535
"(2000.0, 5000.0]",78.985371,81.87784,0.442847,0.442847,58.286003

## Scores by School Type

In [261]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

type_math_scores = per_school_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [262]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Avg Math Score": type_math_scores,
    "Avg Reading Score": type_reading_scores,
    "Passing Math %": type_passing_math,
    "Passing Reading %": type_passing_reading,
    "Passing Overall": type_overall_passing
})

# Display results
type_summary

,Avg Math Score,Avg Reading Score,Passing Math %,Passing Reading %,Passing Overall
School Type,,,,,
Charter,78.985371,81.87784,1.270104,1.270104,90.432244
District,78.985371,81.87784,0.412249,0.412249,53.672208